@use "../mixins/hover.scss" as *;
.button {
  background-color: var(--red);
  display: inline-block;
  padding: 13px 35px 11px 31px;
  color: white;
  margin-bottom: 24px;
  line-height: 24px;
  letter-spacing: 4.38px;

  @include hover {
    background-color: var(--dark-blue);
  }
}
