@use "../mixins/responsive.scss" as *;
.header {
  position: relative;
  overflow-x: clip;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    padding: 28px 16px 0 16px;
    @include responsive(laptop) {
      padding: 89px 165px 0 165px;
    }
  }
  &__logo {
    width: 44px;
  }

  &__icon {
    position: absolute;
    width: 40px;
    right: 16px;
    z-index: 10;
    @include responsive(laptop) {
      display: none;
    }
  }
}
