@use "../mixins/responsive.scss" as *;
.info {
  @include responsive(laptop) {
    display: flex;
    gap: 30px;
  }
  &__container {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    @include responsive(laptop) {
      display: flex;
      gap: 30px;

      margin-bottom: 0;
      width: 350px;
    }
  }

  &__image {
    width: 100px;
    height: 129px;
  }
}
