:root {
--almost-white:#FFFDFA;
--dark-blue: #00001A;
--grey: #5E607A;
--red:#F15D51;
--silver: #C5C6CE;
--yellow:#E9AA52;

--title-xl: 56px;
--title-l: 40px;
--title-m: 32px;
--title-s: 20px;
--title-xs: 18px

--text-body:15px;

}


